/* certificates section styling */

.certificates {
  min-height: 100vh;
}

.certificate-content {
  margin: 0.5rem;
  padding: 0.25rem;
}

.frame {
  border: 2px solid var(--main-color);
  border-radius: 1.5rem 1.5rem 0 0;
  margin-right: 2.25rem;
  transition: 0.3s;
  margin-bottom: 1rem;
  background-image: linear-gradient(
    to right,
    var(--main-color) -120%,
    var(--nav-color)
  );
  background-color: var(--secondry-bg-color);
  cursor: pointer;
  transition: 0.3s;
}

.frame:hover {
  transition: 0.3s;
  background-image: linear-gradient(
    to right,
    var(--main-color),
    var(--nav-color)
  );
  .show {
    box-shadow: 0 0 10px var(--main-color);
    transform: scale(1.1);
    transition: 0.5s;
  }
}

.ftop {
  display: flex;
  padding: 0.5rem;
  /* border: 1px solid var(--main-color); */
  height: 12rem;
  transition: 0.3s;
  justify-content: space-between;
}

.category {
  width: 60%;
  /* border: 1px solid var(--main-color); */
  font-size: 3.5rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  color: white;
}

.preview {
  width: 50%;
  /* border: 1px solid var(--main-color); */
  display: flex;
  overflow: hidden;
  position: relative;
  right: 0;
}

.preview img {
  height: 100%;
  border-radius: 12px;
  border: 2px solid var(--main-color);
}

.fbtm {
  padding-right: 1rem;
  text-align: right;
  height: 0;
}

.show {
  /* position: absolute; */
  position: relative;
  top: -4rem;
}

.btn {
  color: var(--primary-bg-color);
  background-color: var(--main-color);
  font-size: 1.25rem;
  padding: 0.25rem 1rem;
  border-radius: 12px;
  border: 2px solid var(--main-color);
  margin: 0.25rem;
  font-family: inherit;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background: none;
  color: var(--main-color);
  /* opacity: 0.5; */
  transition: 0.5s;
  box-shadow: 0 0 10px var(--main-color), 0 0 5px var(--main-color) inset;
}

.fview {
  padding: 0.5rem;
  /* border: 1px solid var(--main-color); */
  display: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* justify-content: center; */
  border-top: 2px solid var(--main-color);
  transition: 0.3s;
  background: var(--bg-img);
  background-color: var(--primary-bg-color);
}

.view-cer {
  margin: 1rem;
  border: 2px dotted var(--main-color);
  border-radius: 17px;
  width: 28%;
  /* height: 24rem; */
  height: fit-content;
  transition: 0.3s;
  overflow: hidden;
}

.view-cer:hover {
  border-style: solid;
  transition: 0.3s;
  box-shadow: 0 0 10px var(--main-color), 0 0 5px var(--main-color) inset;
  border-radius: 25px;
  /* .details h1 {
      border-radius: 23px 23px 0 0;
      transition: all 0.3s;
    } */
}

.view-cer .details h3 {
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--main-color);
  color: var(--home-color);
  /* margin: 0 2rem; */
  padding: 0.25rem;
  border-radius: 15px 15px 0 0;
  transition: all 0.3s;
}

.cer-img {
  overflow: hidden;
  display: flex;
  justify-content: center;
  /* margin-top: 0.25rem; */
  /* margin-bottom: 0.5rem; */
}

.cer-img img {
  /* width: 90%; */
  border: 1px solid var(--primary-bg-color);
  border-radius: 2px;
  overflow: hidden;
}
.view-cer .cer-details p {
  margin: 0 0.5rem;
  text-align: justify;
  font-size: 1.25rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;

  a {
    color: aqua;
  }
}
.view-cer .btns {
  padding: 0.5rem;
  /* border-top: 1px solid var(--main-color); */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0;
  gap: 1rem; /* Add space between buttons */
  visibility: visible !important; /* Force buttons to be visible */
}

.view-cer .btn {
  text-decoration: none;
}
